<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=10" />
        @*<meta charset="utf-8" />*@
    <title>临港智慧城市大脑平台</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Qmap/pep.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    <link href="~/Scripts/Tools/aliplayer/aliplayer-min.css" rel="stylesheet" />
    <script src="~/Scripts/Tools/vex/js/vex.combined.min.js"></script>
</head>
<body style="padding-top:0px;overflow-y:hidden;overflow-x:hidden;" oncontextmenu="return false" ondragstart="return false">
    @*<div style="height:100%">*@
    @RenderBody()
    @*</div>*@
</body>
</html>

<script>
    window.onload =function(){
        var ratio = 0,
            screen = window.screen,
            ua = navigator.userAgent.toLowerCase();

        if (window.devicePixelRatio !== undefined) {
            ratio = window.devicePixelRatio;
        }
        else if (~ua.indexOf('msie')) {
            if (screen.deviceXDPI && screen.logicalXDPI) {
                ratio = screen.deviceXDPI / screen.logicalXDPI;
            }
        }
        else if (window.outerWidth !== undefined && window.innerWidth !== undefined) {
            ratio = window.outerWidth / window.innerWidth;
        }

        if (ratio) {
            ratio = Math.round(ratio * 100);
        }

        if(ratio != 100){
            alert('浏览器缩放比例不正确，请退出并重新设置！！！');
        }
    }
</script>