<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <title>临港智慧城市大脑平台</title>    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/signalR")    
    <link href="~/Scripts/Tools/aliplayer/aliplayer-min.css" rel="stylesheet" />
    <script src="~/Scripts/Tools/vex/js/vex.combined.min.js"></script>
</head>
<body style="padding-top:0px;overflow-y:hidden;overflow-x:hidden;" oncontextmenu="return false" ondragstart="return false">
    @*<div style="height:100%">*@
        @RenderBody()
    @*</div>*@
</body>
</html>

